<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_backtime', :plugin => 'redmine_backtime' %>
<% end %>

<h2>
  BackTime
  <div class='time_ratio'><%= @time_sum %> : <%= @backtime_sum %></div>
</h2>

<% if @users_list.nil? %>
  <p><%= l(:backtime_nonexist) %></p>
<% else %>
  <% labelled_tabular_form_for :backtime, @backtime, :url => { :action => :add } do |form| %>
    <%= render :partial => 'form', :locals => { :form => form } %>
  <% end %>
<% end %>

<% form_tag({ :controller => 'backtime', :action => 'index'}, :method => :get, :id => 'query_form') do %>
    <%= hidden_field_tag 'set_filter', '1' %>
    <div id="query_form_content" class="hide-when-print">
    <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
      <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
      <div style="<%= @query.new_record? ? "" : "display: none;" %>">
        <%= render :partial => 'filters', :locals => {:query => @query} %>
      </div>
    </fieldset>
    </div>
    <p class="buttons hide-when-print">

    <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'icon icon-checked' %>
    <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
    <% if @query.new_record? && User.current.allowed_to?(:save_queries, @project, :global => true) %>
        <%= link_to_function l(:button_save), "$('query_form').action='#{ @project ? new_project_query_path : new_query_path }'; submit_query_form('query_form')", :class => 'icon icon-save' %>
    <% end %>
    </p>
<% end %>

<% if @backtimes and @backtimes.any? %>
<table class='list'>
  <thead>
    <tr>
      <%= sort_header_tag('time', :title => "Sort by #{l(:label_time)}", :caption => l(:label_time), :default_order => "asc") %>
      <%= sort_header_tag('back_time', :title => "Sort by #{l(:label_back_time)}", :caption => l(:label_back_time), :default_order => "asc") %>
      <%= sort_header_tag('partner', :title => "Sort by #{l(:label_partner)}", :caption => l(:label_partner), :default_order => "asc") %>
      <%= sort_header_tag('description', :title => "Sort by #{l(:label_description)}", :caption => l(:label_description), :default_order => "asc") %>
      <%= sort_header_tag('created_at', :title => "Sort by #{l(:label_date)}", :caption => l(:label_date), :default_order => "asc") %>
    </tr>
  <thead>
  <tbody>
  <% for b in @backtimes %>
    <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= b.time %></td>
        <td><%= b.back_time %></td>
        <td><%= b.partner.lastname+" "+b.partner.firstname %></td>
      <td class='description'><%= b.description %></td>
      <td><%= b.created_at.strftime('%Y-%m-%d') %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @backtimes_pages, @backtimes_count %></p>

<% else %>
<p class='nodata'>No data</p>
<% end %>
