<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_backtime', :plugin => 'redmine_backtime' %>
<% end %>

<h2>
  BackTime
  <div class='time_ratio'><%= @time_sum %> : <%= @backtime_sum %></div>
</h2>

<% if @users_list.nil? %>
  <p><%= l(:backtime_nonexist) %></p>
<% else %>
  <% labelled_tabular_form_for :backtime, @backtime, :url => { :action => :add } do |form| %>
    <%= render :partial => 'form', :locals => { :form => form } %>
  <% end %>
<% end %>

<% if @backtimes and @backtimes.any? %>
<table class='list'>
  <thead>
    <tr>
      <th><%= l(:label_time) %></th>
      <th><%= l(:label_back_time) %></th>
      <th><%= l(:label_partner) %></th>
      <th class='desription'><%= l(:label_description) %></th>
    </tr>
  <thead>
  <tbody>
  <% for b in @backtimes %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <td><%= b.time %></td>
      <td><%= b.back_time %></td>
      <td><%= b.partner %></td>
      <td class='description'><%= b.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>
<%= pagination_links(@backtimes_pages) %>
</hr>

<% else %>
<p class='nodata'>No data</p>
<% end %>
